.App {
  padding: 12px 16px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 1;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.input-box {
  height: 15px;
  border: 2px solid lightgray;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: large;
  margin-right: 3%;
}

@media screen and (min-width: 1024px) {
  .input-box {
    height: 15px;
    width: 20%;
    font-size: large;
    margin-right: 2%
  }
}

.search-button {
  width: 50px;
  height: 33px;
  font-size: medium;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .search-button {
    height: 35px;
    font-size: large;
    margin-right: 2%;
  }
}

.board {
  overflow: scroll;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .board {
    -webkit-column-count: 2;
  }
}

@media screen and (min-width: 1024px) {
  .board {
    -webkit-column-count: 3;
  }
}

.image-container {
  position: relative;
}

.image {
  margin: 6px auto;
  width: 100%;
  object-fit: cover;
}

.detail {
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  text-align: center;
  cursor: pointer;
}

.image-container:hover .detail {
  opacity: 1;
}

.author-name {
  color: white;
}
